*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    /* flex-direction: column-reverse; */
    border: 1px solid orangered;
    flex-wrap: wrap;

}
.item1 ,.item2,.item3,.item4,.item5{
      width: 80%;
      border: 1px solid orange;
      padding: 20px;
      margin: 10px;
       
}
.item1{
    order:3 ;
    flex: 2;
}
.item2{
    order:2 ;
    flex: 2;
}
.item3{
    order:1 ;
    flex: 2;
}
.item4{
    order:5 ;
    flex: 2;
}
.item5{
    order:4 ;
    flex: 2;
}
